<ion-content class="ion-padding" fullscreen="true">
  <div class="account">
    <ion-row class="head">
      <ion-text>
        <h1 class="ion-text-left">Create your account</h1>
        Already have an account?
        <ion-router-link [routerLink]="['/login']">Login</ion-router-link>
      </ion-text>
    </ion-row>
    <form [formGroup]="registrationForm">
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Name *</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Phone number *</ion-label>
        <ion-input type="number" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Password *</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <!-- <ion-item lines="none" class="input">
        <ion-label position="stacked">Date of Birth *</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-button expand="block" class="ion-margin-bottom" (click)="submitRegister()">Create account</ion-button>
    </form>
  </div>
</ion-content>