<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Master Data</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">

    <ion-grid class="menuList">
      <ion-row>
        <ion-col size="6" class="list">
          <div class="inner" [routerLink]="['/user']">
            <i class="las la-user"></i>
            <span>User</span>
          </div>
        </ion-col>
        <ion-col size="6" class="list">
          <div class="inner" [routerLink]="['/user']">
            <i class="las la-map"></i>
            <span>State</span>
          </div>
        </ion-col>
        <ion-col size="6" class="list">
          <div class="inner" [routerLink]="['/user']">
            <i class="las la-map-pin"></i>
            <span>Branches</span>
          </div>
        </ion-col>
        <ion-col size="6" class="list">
          <div class="inner" [routerLink]="['/user']">
            <i class="las la-handshake"></i>
            <span>Loan</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
