<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="main">
    <div class="secHeading">
      <h2>Notification</h2>
    </div>
    <div class="notification">
      <ion-row>
        <ion-col size="12" class="list">
          <div class="icon">
            <i class="las la-envelope-open-text"></i>
          </div>
          <div class="msg">
            <p>
              <strong>Possimus nostrum perferendis</strong>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. A pariatur, possimus nostrum est beatae earum? Molestiae
            </p>
          </div>
        </ion-col>
        <ion-col size="12" class="list">
          <div class="icon">
            <i class="las la-envelope-open-text"></i>
          </div>
          <div class="msg">
            <p>
              <strong>Possimus nostrum perferendis</strong>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nostrum perferendis est beatae earum? Molestiae
            </p>
          </div>
        </ion-col>
        <ion-col size="12" class="list">
          <div class="icon">
            <i class="las la-envelope-open-text"></i>
          </div>
          <div class="msg">
            <p>
              <strong>Possimus nostrum perferendis</strong>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. perferendis est beatae earum? Molestiae
            </p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
