<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>About Us</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="secHeading">
      <h2>About Us</h2>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laborum cum quam, vel mollitia quibusdam aliquam, vel mollitia quibusdam aliquam, dolorem consequatur earum facilis recusandae et. Cumque perspiciatis, nemo illo repellendus reiciendis modi sed.<br><br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laborum cum quam, vel mollitia quibusdam aliquam, dolorem consequatur earum facilis recusandae et. Cumque perspiciatis, nemo illo repellendus reiciendis modi sed. dolorem consequatur earum facilis recusandae et. Cumque perspiciatis, nemo illo repellendus reiciendis modi sed. dolorem consequatur earum facilis recusandae et. Cumque perspiciatis, nemo illo repellendus reiciendis modi sed.
    </p>
  </div>
</ion-content>
