<ion-content class="ion-padding" fullscreen="true">
  <div class="account">
    <ion-row class="head">
      <ion-text>
        <h1 class="ion-text-left">Reset password</h1>
        Remember the password?
        <ion-router-link [routerLink]="['/login']">Login</ion-router-link>
      </ion-text>
    </ion-row>
    <form>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
    </form>
    <ion-button expand="block" class="ion-margin-bottom" [routerLink]="['/home']">Reset</ion-button>
  </div>
</ion-content>