<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="main">
    <div id="profile">
      <div class="userThumb">
        <img src="/assets/blank-dp.jpg" alt="">
      </div>
      <h2 class="name">Alex Brahar</h2>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ng-container>
              <ion-item lines="none">
                <ion-label>Account No.</ion-label>
                <ion-note slot="end" color="primary">MCDF56464</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Email</ion-label>
                <ion-note slot="end" color="primary">alexbrahar@mail.com</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Phone No.</ion-label>
                <ion-note slot="end" color="primary">+91 9830 123456</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Account Type</ion-label>
                <ion-note slot="end" color="primary">Savings Account</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Balance</ion-label>
                <ion-note slot="end" color="primary">₹55,000.00</ion-note>
              </ion-item>
            </ng-container>
            <ion-button expand="block">Edit Profile</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
