<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>User</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <ion-row class="userList">
      <ion-col size="12" class="list">
        <div class="name">Alex Brahar</div>
        <div class="action">
          <ion-fab horizontal="end" slot="relative" vertical="top" edge>
            <ion-fab-button>
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list>
              <ion-fab-button color="dark" [routerLink]="['/form']">
                <ion-icon name="create-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="dark" [routerLink]="['/details']">
                <ion-icon name="eye-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="dark">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div>
      </ion-col>
      <ion-col size="12" class="list">
        <div class="name">Alex Brahar</div>
        <div class="action">
          <ion-fab horizontal="end" slot="relative" vertical="top" edge>
            <ion-fab-button>
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list>
              <ion-fab-button color="dark" [routerLink]="['/form']">
                <ion-icon name="create-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="dark" [routerLink]="['/details']">
                <ion-icon name="eye-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="dark">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div>
      </ion-col>
      <ion-col size="12" class="list">
        <div class="name">Alex Brahar</div>
        <div class="action">
          <ion-fab horizontal="end" slot="relative" vertical="top" edge>
            <ion-fab-button>
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list>
              <ion-fab-button color="dark" [routerLink]="['/form']">
                <ion-icon name="create-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="dark" [routerLink]="['/details']">
                <ion-icon name="eye-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="dark">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div>
      </ion-col>
      <ion-col size="12" class="list">
        <div class="name">Alex Brahar</div>
        <div class="action">
          <ion-fab horizontal="end" slot="relative" vertical="top" edge>
            <ion-fab-button>
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list>
              <ion-fab-button color="dark" [routerLink]="['/form']">
                <ion-icon name="create-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="dark" [routerLink]="['/details']">
                <ion-icon name="eye-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button color="dark">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </div>
      </ion-col>
    </ion-row>

    <!-- <div class="userForm">
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Full Name *</ion-label>
        <ion-input formControlName="full_name" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Email *</ion-label>
        <ion-input formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Phone Number *</ion-label>
        <ion-input formControlName="phone_no" type="number" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Phone Number *</ion-label>
        <ion-select>
          <ion-select-option value="branch">Branch Admin</ion-select-option>
          <ion-select-option value="central">Central Admin</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="d-flex ion-justify-content-between ion-margin-top">
        <ion-button fill="outline" (click)="modalToggle('default')">Cancel</ion-button>
        <ion-button (click)="modalToggle('default')">Submit</ion-button>
      </div>
    </div>

    <div class="content" *ngIf="modal == 'editProfile'">
      <ion-item lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Mobile number</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>User Type</ion-label>
        <ion-select>
          <ion-select-option value="branch">Branch Admin</ion-select-option>
          <ion-select-option value="central">Central Admin</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="d-flex ion-justify-content-between ion-margin-top">
        <ion-button fill="outline" (click)="modalToggle('default')">Cancel</ion-button>
        <ion-button (click)="modalToggle('default')">Submit</ion-button>
      </div>
    </div>
    <div class="content" *ngIf="modal == 'editMobile'">
      <ion-item lines="full">
        <ion-label position="floating">Mobile number</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <div class="d-flex ion-justify-content-between ion-margin-top">
        <ion-button fill="outline" (click)="modalToggle('default')">Cancel</ion-button>
        <ion-button (click)="modalToggle('mobileVerify')">Submit</ion-button>
      </div>
    </div>
    <div class="content" *ngIf="modal == 'mobileVerify'">
      <ion-text>Check your SMS message. We have sent a code to +(860)953-3515</ion-text>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input type="number" value="1" class="verify-input"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number" value="2" class="verify-input"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number" value="3" class="verify-input"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number" value="4" class="verify-input"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="d-flex ion-justify-content-between ion-margin-top">
        <div>
          <ion-text><small>Resend Code in 10 seconds</small></ion-text>
          <ion-button fill="outline" disabled="disabled">Resent</ion-button>
        </div>
        <div>
          <ion-text><small>&nbsp;</small></ion-text>
          <ion-button (click)="modalToggle('default')">Submit</ion-button>
        </div>
      </div>
    </div>
    <div class="content" *ngIf="modal == 'add'">
      <ion-item lines="full">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Mobile number</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>User Type</ion-label>
        <ion-select>
          <ion-select-option value="branch">Branch Admin</ion-select-option>
          <ion-select-option value="central">Central Admin</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Branch</ion-label>
        <ion-select>
          <ion-select-option value="branch1">Branch 1</ion-select-option>
          <ion-select-option value="branch2">Branch 2</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="d-flex ion-justify-content-between ion-margin-top">
        <ion-button fill="outline" (click)="modalToggle('default')">Cancel</ion-button>
        <ion-button (click)="modalToggle('default')">Submit</ion-button>
      </div>
    </div> -->

  </div>
</ion-content>
