<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Form Design</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="main">
    <form [formGroup]="">
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Branch Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Date of Opening</ion-label>
        <ion-input type="Date"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Date of Closing</ion-label>
        <ion-input type="Date"></ion-input>
      </ion-item>
     <ion-item lines="none" class="input">
        <ion-label position="stacked">President Name</ion-label>
        <ion-select class="custom-options">
          <ion-select-option value="member1">Member 1</ion-select-option>
          <ion-select-option value="member2">Member 2</ion-select-option>
          <ion-select-option value="member3">Member 3</ion-select-option>
        </ion-select>
      </ion-item>
     <ion-item lines="none" class="input">
        <ion-label position="stacked">Secretary Name</ion-label>
        <ion-select class="custom-options">
          <ion-select-option value="member1">Member 1</ion-select-option>
          <ion-select-option value="member2">Member 2</ion-select-option>
          <ion-select-option value="member3">Member 3</ion-select-option>
        </ion-select>
      </ion-item>
     <ion-item lines="none" class="input">
        <ion-label position="stacked">Treasurer Name</ion-label>
        <ion-select class="custom-options">
          <ion-select-option value="member1">Member 1</ion-select-option>
          <ion-select-option value="member2">Member 2</ion-select-option>
          <ion-select-option value="member3">Member 3</ion-select-option>
        </ion-select>
      </ion-item>
     <ion-item lines="none" class="input">
        <ion-label position="stacked">Friend Name</ion-label>
        <ion-select class="custom-options">
          <ion-select-option value="member1">Member 1</ion-select-option>
          <ion-select-option value="member2">Member 2</ion-select-option>
          <ion-select-option value="member3">Member 3</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Monthly Target Savings Amount</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Total Savings Balance</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Total Loan Balance</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Group Members</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <div class="d-flex ion-justify-content-between ion-margin-top">
        <ion-button fill="outline" (click)="modalToggle('default')">Cancel</ion-button>
        <ion-button (click)="modalToggle('default')">Submit</ion-button>
      </div>
    </form>
  </div>
</ion-content>
