<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="start">
      <ion-content>
        <ion-list id="inbox-list">
          
          <ion-item class="profileHead" lines="full">
            <ion-list-header [routerLink]="['/profile']"><img class="userPic" src="/assets/blank-dp.jpg" alt=""><div>Hello, <span>Alex Brahar</span></div></ion-list-header>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" *ngIf="p.title != 'Logout'" [routerLink]="[p.url]" lines="full" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <!-- <ion-item routerDirection="root" *ngIf="p.title != 'Logout'" [routerLink]="[p.url]" lines="full" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>Home<br><span>Offers, Top Deals, Top Brands</span></ion-label>
            </ion-item> -->
            <ion-item routerDirection="root" *ngIf="p.title == 'Logout'" (click)='logout()' lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <div id="fixedMenu">
    <ion-router-link [routerLink]="['/home']">
      <i class="las la-home"></i>
      <span>Home</span>
    </ion-router-link>
    <ion-router-link [routerLink]="['/profile']">
      <i class="las la-user-alt"></i>
      <span>Profile</span>
    </ion-router-link>
    <ion-router-link [routerLink]="['/masterdata']">
      <i class="las la-handshake"></i>
      <span>Service</span>
    </ion-router-link>
    <ion-router-link [routerLink]="['/notification']">
      <i class="las la-bell"></i>
      <span>Notification</span>
    </ion-router-link>
  </div>
  
</ion-app>