<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">

    <ion-slides id="banner">
      <ion-slide>
        <div class="slide">
          <img src="https://via.placeholder.com/335x180/f03827/fff" />
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="https://via.placeholder.com/335x180/f03827/fff" />
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="https://via.placeholder.com/335x180/f03827/fff" />
        </div>
      </ion-slide>
    </ion-slides>

    <div class="balance">
      <div class="name">Mr. Alex Brahar</div>
      <div class="amount">85,000,00</div>
    </div>

    <ion-grid class="menuList">
      <ion-row>
        <ion-col size="6" class="list">
          <div class="inner" [routerLink]="['/masterdata']">
            <i class="las la-chart-pie"></i>
            <span>Master Data</span>
          </div>
        </ion-col>
        <ion-col size="6" class="list">
          <div class="inner" [routerLink]="['/masterdata']">
            <i class="las la-users"></i>
            <span>Group<br>Management</span>
          </div>
        </ion-col>
        <ion-col size="6" class="list">
          <div class="inner" [routerLink]="['/masterdata']">
            <i class="las la-file-invoice-dollar"></i>
            <span>Group Finance</span>
          </div>
        </ion-col>
        <ion-col size="6" class="list">
          <div class="inner" [routerLink]="['/masterdata']">
            <i class="las la-handshake"></i>
            <span>Loan</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
