<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Submit Preview</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="secHeading">
      <h2>Submit Details Page</h2>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="detailsList">
          <ion-item lines="none">
            <ion-text color="danger">
              <ion-label>User id</ion-label>
              <h4>MCDFA01</h4>
            </ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-text color="danger">
              <ion-label>Date</ion-label>
              <h4>23-03-2021</h4>
            </ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-text color="danger">
              <ion-label>Note</ion-label>
              <h4>Cash</h4>
            </ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-text color="danger">
              <ion-label>Payment Mode</ion-label>
              <h4>Cash</h4>
            </ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-text color="danger">
              <ion-label>Paid Amount (₹)</ion-label>
              <h4>₹100.00</h4>
            </ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-text color="danger">
              <ion-label>Action</ion-label>
              <h4>-</h4>
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>