/*
* App Global CSS
* ----------------------------------------------------------------------------
* Put style rules here that you want to apply globally. These styles are for
* the entire app and not just one component. Additionally, this file can be
* used as an entry point to import other CSS/Sass files to be included in the
* output CSS.
* For more information on global stylesheets, visit the documentation:
* https://ionicframework.com/docs/layout/global-stylesheets
*/

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* COLORS VARIABLED */
$family: 'Open Sans', sans-serif;
$dark: #1a1a1a;
$dark-1: #6d6c7b;
$dark-2: #97959e;
$light-1: #fff;
$light-2: #eee;
$light-3: #f2f4f7;
$gray: #F8F9FB;
$primary: #1089FF;
$red: #f03827;
$yellow: #ffd630;
$blue: #b2d9ff;
$green: #b2ffc2;
$pink: #e6a4e1;
$shadow1: 2px 2px 10px rgba($primary, 0.2);
$shadow2: 0 -10px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba($primary, 0.2);

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: $light-1;
}
h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}
h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.5px;
}
h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
h6 {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 15px;
}

.ion-padding {
  --padding-start: 35px;
  --padding-end: 35px;
  --padding-top: 35px;
  --padding-bottom: 35px;
}
.account {
  .head { margin-bottom:40px; }
  .footer { margin-top:50px; }
  ion-button { margin-top:30px; }
}
hr { background-color: #ddd; }
ion-grid.table {
  ion-row:first-child {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    font-weight: 700;
    text-align: center;
  }
  ion-col {
    border-bottom: 0;
    border-right: 0;
    &.name {
      color: var(--ion-color-primary);
      text-decoration: none;
    }
  }
}

form {
  ion-item {
    --background: transparent !important;
    &.input {
      margin-bottom: 15px;
      overflow: visible;
      --padding-start: 0;
      --inner-padding-end: 0;
      ion-label {
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 1 !important;
        color: $dark-1 !important;
        margin: 0 0 8px !important;
        background: transparent !important;
      }
      ion-input,
      ion-datetime {
        font-weight: 500 !important;
        font-size: 18px !important;
        line-height: 1 !important;
        color: $dark-1 !important;
        letter-spacing: 1px !important;
        width: 100% !important;
        margin: 0 !important;
        border: 1px solid $dark-1;
        border-radius: 5px;
        background: transparent !important;
        box-shadow: none;
        padding: 5px 15px !important;
        input {
          padding: 0 !important;
          height: 30px !important;
        }
      }
      ion-textarea {
        font-weight: 600 !important;
        font-size: 20px !important;
        line-height: 20px !important;
        color: $dark-1 !important;
        letter-spacing: 1px !important;
        width: 100% !important;
        margin: 0 !important;
        border: 1px solid $light-2;
        border-radius: 5px;
        background: $light-1 !important;
        box-shadow: $shadow1;
        padding: 12px 20px !important;
        input {
          padding: 0 !important;
        }
      }
      ion-select {
        font-weight: 500 !important;
        font-size: 18px !important;
        line-height: 1 !important;
        color: $dark-1 !important;
        letter-spacing: 1px !important;
        width: 100% !important;
        margin: 0 !important;
        border: 1px solid $dark-1;
        border-radius: 5px;
        background: transparent !important;
        box-shadow: none;
        padding: 12px 15px !important;
        select {
          padding: 0 !important;
        }
      }
      .info {
        font-weight: 400 !important;
        font-size: 12px !important;
        line-height: 18px !important;
        color: $dark-2 !important;
        margin: 5px 0 0 !important;
      }
      .placeholder {
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 20px !important;
        color: $dark-1 !important;
        letter-spacing: 1px !important;
        margin: 0 !important;
        word-break: break-all;
      }
    }
    &.input.m0 {
      margin-bottom: 0 !important;
    }
  }
  ion-button {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .custom-checbox {
    margin: 0 0 15px !important;
    ion-label {
      font-weight: 400 !important;
      font-size: 13px !important;
      line-height: 13px !important;
      color: $dark-2 !important;
      margin: 0 !important;
      text-overflow: unset !important;
      white-space: unset !important;
      overflow: visible !important;
      padding-left: 10px;
    }
  }
}

body {
  --background: $light-3;
  font-family: $family;
  color: $dark-1;
  ion-header {
    --background: transparent !important;
    &.header-md::after {
      display: none;
    }
    ion-toolbar {
      padding: 5px 10px !important;
      --border-width: 0 !important;
      box-shadow: $shadow1 !important;
      border-radius: 0 !important;
      overflow: hidden !important;
      ion-title {
        img {
          width: auto !important;
          height: 40px !important;
          display: block;
          margin: 0 0 0 auto;
        }
      }
      ion-buttons {
        ion-menu-button {
          // background: $primary;
          color: $light-1;
          border-radius: 5px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  ion-menu {
    background: rgba(var(--ion-color-primary-rgb), 0.5) !important;
    ion-content {
      --padding-start: 10px !important;
      --padding-end: 10px !important;
      --box-shadow: -5px 0 30px #000;
      border-radius: 40px 0 0 40px;
      --overflow: visible !important;
      z-index: 1000 !important;
      overflow: hidden;
      ion-list {
        padding: 0 !important;
        .profileHead {
          ion-list-header {
            padding: 15px 0 !important;
            margin: 0;
            min-height: 0;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .userPic {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 15px;
            }
            span {
              display: block;
              font-size: 18px;
              font-weight: 600;
            }
          }
        }
      }
      ion-router-link {
        color: $dark-2;
        font-size: 15px;
        font-weight: 700;
      }
      ion-item {
        --padding-start: 16px !important;
        --padding-end: 16px !important;
        --min-height: auto !important;
        --padding-top: 15px !important;
        --padding-bottom: 15px !important;
        ion-label {
          margin: 0 !important;
          font-weight: 400;
          span {
            font-size: 13px;
            font-weight: 400;
            color: $dark-1;
          }
        }
      }
    }
    
  }
  ion-router-outlet {
    background: $light-3 !important;
    &.hasHeader {
      padding-top: 65px !important;
    }
    &.hasTab {
      padding-bottom: 57px !important;
    }
    ion-content {
      background: $light-3 !important;
      &.login {
        .body-bg { width: 250px; height: auto; position: absolute; right: 0; top: 0; object-fit: contain; }
        ion-grid {
          position: relative;
          min-height: 100vh !important;
          background: url("/assets/login.png") no-repeat 50% 100% / 100% auto;
          padding-bottom: 75vw !important;
          &.noimg {
            background: none !important;
            padding-bottom: 0 !important;
          }
          .logo {
            display: block;
            margin: 10px auto 30px;
            width: 70%;
            max-width: 200px;
          }
          form {
            background: $light-1;
            padding: 20px;
            margin: 0 0 20px;
            border-radius: 10px;
            box-shadow: 2px 8px 30px rgba($primary, 0.2);
            .link {
              color: $primary;
              font-weight: 700 !important;
              font-size: 14px !important;
              line-height: 1 !important;
            }
            .verfi {
              display: flex;
              justify-content: space-between;
              width: calc(100% + 10px) !important;
              margin-left: -5px !important;
              margin-right: -5px !important;
              ion-input {
                width: 30px !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-left: 5px !important;
                margin-right: 5px !important;
                input {
                  padding-right: 0 !important;
                  text-align: center;
                }
              }
            }
          }
        }
        .loginFooter {
          margin-top: 50px;
          text-align: center;
          display: block;
          .dviders {
            width: 100%;
            height: 2px;
            background: $dark-2;
            margin-bottom: 20px;
            position: relative;
            span {
              background: $light-1;
              padding: 0 10px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .social {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
            ion-router-link {
              margin: 0 5px;
              border-radius: 5px;
              overflow: hidden;
              background: $light-2;
              width: 50px;
              height: 50px;
              padding: 10px;
            }
          }
        }
        .skip {
          text-align: center;
          color: $primary;
          font-weight: 700;
          margin: 5px 0 0;
          font-size: 14px;
        }
        .bubble {
          width: 100%;
          display: flex;
          justify-content: start;
          .speech-bubble {
            -webkit-filter: drop-shadow(0px 0px 1px $dark-1) drop-shadow(0px 0px 0px $dark-1);
            filter: drop-shadow(0px 0px 1px $dark-1) drop-shadow(0px 0px 0px $dark-1);
            margin: 0;
            padding: 8px 40px;
            text-align: center;
            position: relative;
            font-weight: 700 !important;
            font-size: 14px !important;
            line-height: 1 !important;
            background: $light-3 !important;
            border-radius: 30px;
            color: $primary;
            &::before {
              border: 12.5px solid transparent;
              border-top: 12.5px solid $light-3;
              border-bottom: 0;
              height: 0;
              width: 0;
              border-top-width: 25px;
              content: "";
              display: block;
              position: absolute;
              left: 2.5rem;
              bottom: -25px;
              -webkit-transform-origin: center;
              transform-origin: center;
              -webkit-transform: rotate(0deg) skew(30deg) translateY(-1px);
              transform: rotate(0deg) skew(30deg) translateY(-1px);
            }
          }
        }
      }
      &.categoryList {
        .spacer { padding: 10px 0; }
        .box {
          position: relative;
          display: block;
          margin-bottom:20px;
          .inner {
            padding: 10px 160px 10px 20px;
            border-radius: 10px;
            border-width: 0;
            border-style: solid;
            height: 120px;
            display: flex;
            align-items: center;
            &.bg1 {
              background: #edeff4;
            }
            &.bg2 {
              background: #ebebeb;
            }
            h3 {
              font-weight: 700 !important;
              font-size: 20px !important;
              line-height: 20px !important;
              color: $dark-1 !important;
              margin: 0 0 5px !important;
              text-transform: uppercase;
            }
            p {
              font-weight: 400 !important;
              font-size: 12px !important;
              line-height: 12px !important;
              color: $dark-1 !important;
              margin: 0 !important;
            }
          }
          img {
            width: auto;
            height: 130px;
            position: absolute;
            right: 1px;
            bottom: 1px;
            border-radius: 0 0 9px 0;
          }
        }
      }
    }
  }
  .sticky {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-1);
    padding: 8px 20px 10px;
    height: 65px;
    box-shadow: $shadow1 !important;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      ion-icon {
        display: block;
        width: 100%;
        font-size: 25px;
        margin-bottom: 3px;
        color: var(--primary);
      }
      ion-label {
        font-size: 11px;
        line-height: 1;
        color: var(--dark-1);
        text-align: center;
      }
    }
  }

  ion-content {
    .main {
      padding:20px 20px 70px 20px;
      hr { margin: 25px 0; }
      p { font-size: 14px; font-weight: 400; }
      ion-grid { padding: 0; }
      #banner {
          height: 180px;
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
        .slide {
          img {
            object-fit: cover;
          }
        }
      }
      .secHeading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        h2 {
          font-family: $family;
          font-size: 20px;
          font-weight: 500;
          margin: 0;
        }
        p { margin: 0; }
        ion-router-link {
          font-family: $family;
        }
      }
      .balance {
        position: relative;
        width: 80%;
        margin: -50px auto 0;
        height: 100px;
        background: var(--ion-color-light);
        z-index: 50;
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(var(--ion-color-dark-rgb), 0.11);
        .name { font-size: 18px; color: var(--ion-color-dark1); }
        .amount { margin-top: 15px; font-size: 25px; color: var(--ion-color-dark); font-weight: 700; }
      }
      .menuList {
        margin: 30px 0 20px;
        .list {
          text-align: center;
          padding: 10px;
          margin-bottom: 20px;
          border-radius: 0 0 15px 15px;
          box-shadow: 0 8px 12px rgba(var(--ion-color-dark-rgb), 0.1);
          .inner {
            height: 110px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i { 
              font-size: 40px;
              color: var(--ion-color-primary);
              margin-bottom: 6px;
            }
            span { font-size: 15px; line-height: 1.2; }
          }
        }
      }
      .userList {
        .list {
          padding: 12px 15px;
          background: rgba(var(--ion-color-gray-rgb), 0.5);
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          margin-bottom: 5px;
          .action {
            ion-fab { position: relative; top: 0; right: 0;
              ion-fab-button { width: 30px; height: 30px; --background: none; --box-shadow: none;
                ion-icon { color: var(--ion-color-primary); }
              }
              .fab-button-close-active { background: var(--ion-color-primary); border-radius: 50%; }
              ion-fab-list { margin: 40px 0 0; min-width: 30px;
                ion-fab-button {
                  ion-icon { color: var(--ion-color-light); }
                }
              }
            }
          }
        }
      }
      .userForm {
        ion-item {
          --background: transparent !important;
          &.input {
            margin-bottom: 15px;
            overflow: visible;
            --padding-start: 0;
            --inner-padding-end: 0;
            ion-label {
              font-weight: 500 !important;
              font-size: 14px !important;
              line-height: 1 !important;
              color: $dark-1 !important;
              margin: 0 0 8px !important;
              background: transparent !important;
            }
            ion-input,
            ion-datetime {
              font-weight: 500 !important;
              font-size: 15px !important;
              line-height: 1 !important;
              color: $dark-1 !important;
              letter-spacing: 1px !important;
              width: 100% !important;
              margin: 0 !important;
              border: 1px solid $dark-1;
              border-radius: 5px;
              background: transparent !important;
              box-shadow: none;
              padding: 5px 15px !important;
              input {
                padding: 0 !important;
                height: 30px !important;
              }
            }
            ion-textarea {
              font-weight: 600 !important;
              font-size: 15px !important;
              line-height: 20px !important;
              color: $dark-1 !important;
              letter-spacing: 1px !important;
              width: 100% !important;
              margin: 0 !important;
              border: 1px solid $light-2;
              border-radius: 5px;
              background: $light-1 !important;
              box-shadow: $shadow1;
              padding: 12px 20px !important;
              input {
                padding: 0 !important;
              }
            }
            ion-select {
              font-weight: 500 !important;
              font-size: 15px !important;
              line-height: 1 !important;
              color: $dark-1 !important;
              letter-spacing: 1px !important;
              width: 100% !important;
              margin: 0 !important;
              border: 1px solid $dark-1;
              border-radius: 5px;
              background: transparent !important;
              box-shadow: none;
              padding: 12px 15px !important;
              select {
                padding: 0 !important;
              }
            }
            .info {
              font-weight: 400 !important;
              font-size: 12px !important;
              line-height: 18px !important;
              color: $dark-2 !important;
              margin: 5px 0 0 !important;
            }
            .placeholder {
              font-weight: 700 !important;
              font-size: 20px !important;
              line-height: 20px !important;
              color: $dark-1 !important;
              letter-spacing: 1px !important;
              margin: 0 !important;
              word-break: break-all;
            }
          }
          &.input.m0 {
            margin-bottom: 0 !important;
          }
        }
        ion-button {
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
      .detailsList {
        padding: 0 !important;
        margin-bottom:15px;
        ion-item {
          --padding-start: 0;
          margin-bottom:20px;
          ion-label {
            color: var(--ion-color-dark);
          }
          h4 { font-weight: 500; margin: 5px 0 0; }
        }
      }
      .transactionList { position: relative;
        .list {
          display: flex;
          justify-content: space-between;
          padding: 15px 0;
          border-bottom: 1px solid var(--ion-color-gray1);
          .details {
            padding-right: 20px;
            ion-label { 
              font-size: 15px; 
              font-weight: 600;
            }
            p { 
              font-size: 12px; 
              font-weight: 400; 
              line-height: 1.2;
              text-transform: uppercase;
              margin-top: 4px;
            }
          }
          .amount {
            width: calc(100% - 30%);
            text-align: right;
            font-weight: 600;
            span {
              margin-left: 5px;
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
        .fixed { 
          position: sticky;
          width: 100%;
          top: 0;
          left: 0;
          background: #fff;
          z-index: 50;
        }
      }
      #profile {
        ion-item { --padding-start:0; }
        .userThumb {
          width: 150px;
          height: 150px;
          margin: 0 auto;
          --padding-start: 0;
          img { 
            padding: 20px;
            background: var(--ion-color-gray);
            border-radius: 50%;
          }
        }
        .name { text-align: center; }
        ion-button { margin-top: 30px; }
        ion-note { font-size: 14px; font-weight: 600; margin: 0; }
      }
      .notification {
        .list {
          background: var(--ion-color-light);
          padding: 15px 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px;
          .icon { 
            width: 50px;
            height: 50px;
            background: var(--ion-color-gray1);
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            i {
              font-size: 30px;
              color: var(--ion-color-primary);
            }
          }
          .msg { width: calc(100% - 60px);
            p { margin: 0; font-size: 14px; line-height: 1.3;
              strong { margin-bottom: 10px; }
            }
          }
        }
      }
    }
  }
  #fixedMenu { position: fixed; bottom: 0; left: 0; width: 100%; height: 60px; background: $light-1; box-shadow: 0 0 10px rgba($dark, 0.1); display: flex; align-items: center; justify-content: center;
    ion-router-link { margin: 0 10px; display: flex; flex-direction: column; font-size: 14px; line-height: 1; color: var(--ion-color-dark); text-align: center;
      i { font-size: 30px; color: $primary; margin-bottom: 3px; }
    }
  }
}
