<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Passbook</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="main">
    
    <ion-row class="transactionList">
      <ion-col size="12" class="list fixed">
        <ion-text class="details" color="dark">
          <ion-label>Transaction</ion-label>
        </ion-text>
        <ion-text class="amount" color="danger">
          <ion-label>Debit/Credit</ion-label>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="list">
        <ion-text class="details" color="dark">
          <ion-label>28/06/2021</ion-label>
          <p>TO TRANSFER UPI/DR/65465843215/ GOURAV DAS/ICIC/GOURAV123/UPI</p>
        </ion-text>
        <ion-text class="amount" color="danger">
          <ion-label>6,500,00<span>Dr</span></ion-label>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="list">
        <ion-text class="details" color="dark">
          <ion-label>15/06/2021</ion-label>
          <p>By TRANSFER UPI/DR/65465843215/GOURAV DAS/ICIC/GOURAV123/UPI</p>
        </ion-text>
        <ion-text class="amount" color="success">
          <ion-label>500,00<span>Cr</span></ion-label>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="list">
        <ion-text class="details" color="dark">
          <ion-label>15/06/2021</ion-label>
          <p>By TRANSFER UPI/DR/65465843215/GOURAV DAS/ICIC/GOURAV123/UPI</p>
        </ion-text>
        <ion-text class="amount" color="success">
          <ion-label>500,00<span>Cr</span></ion-label>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="list">
        <ion-text class="details" color="dark">
          <ion-label>15/06/2021</ion-label>
          <p>By TRANSFER UPI/DR/65465843215/GOURAV DAS/ICIC/GOURAV123/UPI</p>
        </ion-text>
        <ion-text class="amount" color="danger">
          <ion-label>500,00<span>Dr</span></ion-label>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="list">
        <ion-text class="details" color="dark">
          <ion-label>15/06/2021</ion-label>
          <p>By TRANSFER UPI/DR/65465843215/GOURAV DAS/ICIC/GOURAV123/UPI</p>
        </ion-text>
        <ion-text class="amount" color="danger">
          <ion-label>500,00<span>Dr</span></ion-label>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="list">
        <ion-text class="details" color="dark">
          <ion-label>15/06/2021</ion-label>
          <p>By TRANSFER UPI/DR/65465843215/GOURAV DAS/ICIC/GOURAV123/UPI</p>
        </ion-text>
        <ion-text class="amount" color="success">
          <ion-label>500,00<span>Cr</span></ion-label>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="list">
        <ion-text class="details" color="dark">
          <ion-label>15/06/2021</ion-label>
          <p>By TRANSFER UPI/DR/65465843215/GOURAV DAS/ICIC/GOURAV123/UPI</p>
        </ion-text>
        <ion-text class="amount" color="success">
          <ion-label>500,00<span>Cr</span></ion-label>
        </ion-text>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
